/* CustomCursor.css */

/* .custom-cursor {
    cursor: none;
    z-index: 11;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    transform: translate(-50%, -50%);
    pointer-events: none;
    } */
